@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

body {
    overflow-y: scroll;

    background-image: url("./imgs/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}




/*steamLoginButton*/
.cssbuttons-io-button {
    background-color: #013B96;
    border-radius: 10px;
    border: none;
    float: right;
    display: flex;
    align-items: center;
}


.cssbuttons-io-button p {
        margin:12px;
        font-size: 1.2em;
        color: #C7BDB8;
        font-family:'Manrope', sans-serif;
        white-space:nowrap;
}

.cssbuttons-io-button a {
        display: flex;
        align-items: center;
        text-decoration:none;
}


.cssbuttons-io-button img {
    margin:5px;
    width: 2em;
    color: #7b52b9;
    
}











.textBox {
    width: calc(100% -5px);
    margin: 25px;
    color: white;
    font-family: 'Poppins' sans-serif;
}

.textContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:1.6em;
}


#steamLoginBtn {
    float: right;
    width: 200px;
    height: 70px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
 
}
#tausta {
    width: 80%;
    height: 25vw;
    background-image: url("./imgs/tausta.png");
   
    filter: blur(13px);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    position: relative;
    top:5vw;
    z-index: 2;
  }
  
  #loginFirst {
    width: 50%;
    height: 35vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  
  #loginFirstContainer {
    z-index: 2;
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  

 #loginFirstContainer #steamLoginBtn {
        float: inherit;
        justify-content: center;
        width: auto;
}

#loginFirstContainer h1 {
        color: white;
        text-align: center;
        font-size: 1.8em;
        margin: auto;

}


  


/*invi*/
#mainContent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height:100%;
    

}
#mainContent #mainImage{
    z-index:1;
    display:flex;
    
    position:relative;
    width:90vw;
    height:100%;
    bottom:0;
    left:-2%;
}

#invList {
    z-index: 2;
    position: absolute;
    left: 0%;
    top: 18vw;
    right: 0%;
    display: flex;
    flex-direction: column;
    width: 45%;
   
    margin: auto;
    box-sizing: border-box;
}
#invContent {
    display: flex;
    flex-direction: row;
   
}
#invButtons {
    flex: 1;
    width: 50%;
    max-height: 40vh;
}


#invUl {
    flex: 1;
    width: 50%;
    max-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 40vh;
    overflow: scroll;
}

#invUl::-webkit-scrollbar {
  width: 5px; 
}

#invUl::-webkit-scrollbar-track {
  background: none; 
}

#invUl::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px; 
}

#invUl::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
    body::-webkit-scrollbar {
        width: 5px;
    }

body::-webkit-scrollbar-track {
    background: none;
}

body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

    body::-webkit-scrollbar-thumb:hover {
        background: #555;
    }



#invUl li {
    flex-basis: 5vw;
    height:8.5em;
    margin: 0.5rem;
    padding: 0.5em;
    backdrop-filter: blur(6px);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    flex-wrap: wrap;
}
.acceptableItem{
    border:none;
}
.acceptableItem:hover {
    transform: scale(1.05);
}


.acceptableItem:active {
    transform: scale(0.95) rotateZ(1.7deg);
}


#invUl li h1{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size:1.3em;

}

#invUl li p {
    font-family: 'Manrope', sans-serif;
    font-size: clamp(5px, 0.6vw, 15px);
    text-align: left;
    margin:0;
    margin-left: 5px;
}

#invUl li img{
    max-width: 100%;
    height: auto;
}

/*more items css*/
.acceptableItem {
    border: 1px solid white;
}

.unacceptableItem {
    border: 1px solid dimgray;
    filter:brightness(0.7);
}
.unacceptableItem p{
    color:red;
    font-size:0.75rem !important;

}
.unacceptableItem img{
     filter: grayscale(100%);
}


/*inv buttons div*/
#invButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-left:10px;
}


#budjetDiv {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin: auto;
    width: 70%;
    text-align: right;
}

    #budjetDiv #budjetTxt {
        color: white;
        text-align: left;
        flex-direction: column;
        margin: 0px;
        font-family: "Manrope",sans-serif;
    }

    #budjetDiv #inputWrapper {
        display: flex;
        margin: 0px;
        flex-direction: column;
    }

    #budjetDiv #inputContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15px;
    }


#budjetTopTxt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}

#budjetInfo {
    width: 1.2em;
    height: 1.2em;
    border: 0.15em solid #023686;
    border-radius: 50%;
    text-align: center;
    color: #023686;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-left: 0.5em;
    cursor:pointer;
}
#budjetInfoContainer {
    position: absolute;
    color: white;
    top: 0vw;
    right: 6%;
    background-color: #1D1D20;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Manrope', sans-serif;
    text-align: left;
    display: none;
}

#budjetInfo:hover + #budjetInfoContainer {
    display: block;
}
input[type="range"] {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    
}
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        background-color: #0075FF;
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }
    input[type=range]::-webkit-slider-runnable-track  {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
      }
#budjetDiv #inputWrapper input {
    width: 100%;
   
}

#budjetDiv #budjetValue {
    font-family: "Manrope", sans-serif;
    margin-left: 5px;
    margin-right:40px;
    color: white;
    font-size: 0.8em;
}


#steamStatus{
    display: flex;
    justify-content: start;
    align-items: center;
}
#steamStatus p{
    color:white;
    font-family: "Manrope", sans-serif;
    display: inline-flex;
    align-items: center;
}

#steamStatus #statusColor{
    border-radius:50%;
    width: 0.6vw;
    height: 0.6vw;
    margin: 5px;
    align-items: center;
}



#TotalPrice {
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-bottom:25px;
    width:70%;
   
}
#TotalPrice p{
    margin-top:0;
    margin-bottom:15px;
    font-size:1.5em;
    color:white;
    font-family:"Manrope",sans-serif;
}
#TotalPrice #priceBox{
    margin:0;
    height: 8vh;
    border-radius: 8px;
    background-color: #1D1D20;
    align-items:center;

    display:flex;
    justify-content:right;
}
#TotalPrice h1{
    
    color:#d5d5d5;
    font-family: 'Manrope', sans-serif;
    font-size:1.8em;
    margin:20px;
    
   
}


#offerButtons {
    width:100%;
    flex:1;
    display: flex;
    justify-content:center;

}

.invBtn {
    width: 70%;
    z-index: 0;
    font-size: 1.6vh;
    height: 5vh;
    border: transparent;
    background: #082858;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}



#sendTradeBtn:hover {
    transition: 0.5s ease-in-out;
    color: rgba(28, 28, 28);
    background: rgba(0, 255, 8,1);
}

#reloadInvBtn {
    background:none;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: all .5s ease-in-out;
  cursor:pointer;
}


#reloadInvBtn:hover {
  border-radius: 50%;
  transition: all .5s ease-in-out;
}

#reloadInvBtn:hover:before {
  margin-left: 0%;
  transform: rotate(180deg);
}

#reloadInvBtn::before {
  content: "";
  background-image: url("./imgs/refresh.png");
  height: 50px;
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  transition: all .6s ease-in-out;
  background-size: 100%;
}

#settingsBox {
    
   
    font-family: 'Roboto', sans-serif;
    color: #d7cfcf;

    z-index: 2;
    position: absolute;
    left: 0%;
    top: 18vw;
    right: 0%;
    display: flex;
    flex-direction: column;
    width: 30%;
   
    margin: auto;

}
#settingsBox label{
    margin-bottom: 10px;
    margin: auto;
}
#settingsBox img{
   width:6%;
   margin-left: auto;
   margin-right: 0px;
    cursor: pointer;
}
#settingsBox input{
    margin: auto;
    border-radius:8px;
    height:30px;
    border:none;
    text-align:center;
}
#settingsBox button{
    margin: auto;
    
}




#showUserInv {
  position: absolute;
  z-index: 3;
  width: 25%;
  height: 25vw;
  right: 0;
  left: 0;
  margin: auto;
  top: 13vh;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

#showUserInv ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  align-items: center;
  padding: 0;
  margin: 0;
  width: 90%;
  height: 90%;
  overflow-y: auto;
}

#showUserInv ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
  background-color: #18181B;
  box-sizing: border-box;
  margin: 5px;
}

#showUserInv ul li img {
  max-width: 70%;
  max-height: 70%;
}
#showUserInv h1{
    color:white;
     font-family:'Manrope', sans-serif;
}

.marked-item {
    border: 2px solid green; /* Adjust the border style and color as desired */
}


#offersDiv {
    position: absolute;
    z-index: 3;
    width: 25%;
    height: 25vw;
    right: 0;
    left: 0;
    margin: auto;
    top: 35vh;
}
#offersDiv p{
    color:white;
}
#offersDiv ul {
    display:inline-flex;
    flex-wrap:wrap;
    overflow-y:scroll;
    height:250px;

}
#offersDiv ul li{
    list-style:none;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    width:20%;
    margin:10px;
}
#offersDiv ul li img{
   width:100%;
}
#trustlyDiv{

}

.secondBtn{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#353535;
    border:none;
    border-radius:8px;
    color:#F2F2F2;
    font-family:'Manrope', sans-serif;
    font-size:20px;
    padding:10px;
    width:250px;
    cursor:pointer;
}

#sendTradeDiv button:hover {
    box-shadow: 0px 0px 3px royalBlue;
}
#selectedItemsContainer{

}
#selectedItemsContainer #skinUl{
    display: flex;
    flex-direction: column;
}
#selectedItemsContainer #skinUl li{
    display: flex;
    flex-direction: column;
    color:white;
}
#selectedItemsContainer #stickerUl{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1000px) {
   
  
   
    #mainContent{
        justify-content: center;
        overflow-x: hidden;
        
    }
 
 
    #invUl::-webkit-scrollbar {
        display: none;
    }

    #settingsBox{
        display:block;
        margin-top:40vh;
        width:auto;
        right:auto;
        left: auto;
    }
    #steamMenu{

    }
  
    #invContent{
        flex-direction:column;
        height: 75vh;
    }
    #invList {
        width: 75%;
        
        top: 48vw;
    }

    #mainContent #mainImage {
        width:150%;    
        margin-top:0px;
        
    }
    #invUl{
        width:100%;
        justify-content: center;
        
    }
    #invUl li {
        flex-basis: 30%;
        padding: 0.6rem;
        height: auto;
    }
    
    #invUl li p{
        font-size:75%;
    }
    #invHelpButtons{
        justify-content: center;
    }
    #reloadInvBtn {
        padding-bottom: 25px;
        padding-top:25px;
        padding: 25px;
    }
    #reloadInvBtn::before {
        width:40px;
        height:40px;
        margin-left:20px;


    }
    #budjetDiv{
        width:100%;
    }
   

    #invButtons {
        margin-top:5vh;
        width:100%;
        margin-left:0;
    }
    #TotalPrice{
        width:100%;
        margin-bottom:10px;
    }
    
    #TotalPrice #priceBox{
        height:10vh;
    } 
    #TotalPrice p{
        margin-bottom:5px;
    }
    #TotalPrice #priceBox h1{
        font-size:2.2em;
    }
    #sendTradeBtn{
        width:100%;

    }
    #sendTradeBtn{
        font-size:1.2em;
        height:6vh;
    }
    #budjetInfo{
        border:0.1em solid #023686;
        width:1.2em;
        height:1em;
    }
    #steamStatus #statusColor{
        width:1.5vw;
        height: 1.5vw;
    }
    #loginFirst{
        z-index: 1;
       top:35%;
    }
    #tausta{
        display: none;
    }
    #loginFirstContainer h1 {
        font-size: 1.3em;
    }
   
    .cssbuttons-io-button p{
        font-size: 1em;
    }

}