#menuLinks {
    width: 95%;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 100px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.5s ease-in-out;
}
/*steam menu*/
#steamMenu {
    float: right;
    width: 30vh;
    margin-top:20px;

 
}
#steamMenuContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#steamDropDown {
    padding: 10px;
    background-color: #1D1D20;
    border-radius: 8px;
  }
  
  #steamDropDown ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  
  #steamDropDown ul li {
    list-style: none;
    color: #E6E7E7;
    text-align: left;
    display: flex; 
    align-items: center; 
    margin: 10px;
    margin-bottom: 25px;
    cursor: pointer;
  }
  #steamDropDown ul li:hover{
    color:#949494;
  }
  #steamDropDown ul li span {
    margin-left: 10px; 
   
  }
  
  #steamDropDown ul li img {
    margin: 0;
  }