@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.faq-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 100vh;
  }
 #faqTitle{
    color:#0057E1;
 }
  .question {
    text-align: left;
    width:30%;
    color:rgb(201, 201, 201);
  }
  
  .question h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  
  .question p {
    font-family: 'Manrope', sans-serif;
    font-size: 1.1rem;
    line-height: 1.3;

  }
  @media only screen and (max-width: 1000px) {
   .faq-container{
    height: auto;
   }
   .question{
    width: auto;
    padding: 30px;
    padding-top: 0;
   }
   #faqTitle{
    text-align: left;
   }
  }